<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta property="og:type" content="website" />
    <%= if assigns[:meta] do %>
      <meta property="og:title" content={@meta["title"]} />
      <meta property="og:description" content={@meta["description"]} />
      <meta property="og:image" content={@meta["image"] || ~p"/static/images/site_header.png"} />
      <meta property="og:url" content={@meta["url"]} />
      <meta name="twitter:url" value={@meta["url"]} />
      <meta name="twitter:title" value={@meta["title"]} />
      <meta name="twitter:description" value={@meta["description"]} />
      <meta name="twitter:image" value={@meta["image"] || ~p"/static/images/site_header.png"} />
    <% end %>
    <meta property="og:site_name" content="Moped.Club" />
    <meta property="twitter:card" content="summary_large_image" />

    <%= if assigns[:meta] do %>
      <%= for {name, content} <- @meta do %>
        <meta name={name} content={content} />
      <% end %>
    <% end %>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Imbue:opsz,wght@10..100,100..900&display=swap"
      rel="stylesheet"
    />
    <.live_title suffix=" · Moped.Club">
      <%= assigns[:page_title] || "Moped.Club" %>
    </.live_title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css" />
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js">
    </script>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
