<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Moped.Build">
      <%= assigns[:page_title] || "Moped.Build" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <header class="px-4 sm:px-6 lg:px-20 bg-white border-b boder-color-zinc-800">
      <div class="flex items-center justify-between py-3 text-sm">
        <div class="flex items-center gap-4">
          <.link navigate={~p"/"}>
            <p class="text-giant_goldfish rounded-full px-2 text-xl">
              MOPED.BUILD
            </p>
          </.link>
        </div>
        <div class="flex items-center gap-8 font-semibold leading-6 text-zinc-900">
          <.link navigate={~p"/builds"}>Builds</.link>
          <%= if @current_user do %>
            <.link patch={~p"/builds/new"}>
              <.button>
                <.icon name="hero-plus" class="bg-green-500 -mt-1" /> New Build
              </.button>
            </.link>
            <.link
              navigate={~p"/#{@current_user.username}"}
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              style={"color: #{@current_user.color}"}
            >
              My Builds
            </.link>
            <.link
              navigate={~p"/user/settings"}
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
              Settings
            </.link>
            <.link navigate={~p"/sign-out"} method="delete">
              <.button icon="hero-arrow-right-circle">
                Sign Out
              </.button>
            </.link>
          <% else %>
            <.link navigate={~p"/sign-in"}>
              <.button icon="hero-arrow-right-circle">Sign In</.button>
            </.link>
          <% end %>
        </div>
      </div>
    </header>
    <div class="relative">
      <%= @inner_content %>
    </div>
  </body>
</html>
